html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.title-card {
    background-color: #0094ff;
    border-radius: 10px;
    border: solid;
    border-color: #F0F0F0;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #F0F0F0;
    font-size: 25px;
    margin-top:10px;
    border-width:thick;
}
.row {
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: block !important;
}
.row-down{
    padding:0%;
    margin:0%;
    display:block !important;
}
.row-line{
    width:100%;
    padding:0%;
    margin:0%;
    float:inline-start;
    display:flex;
}

.col-12 {
    width: 100%;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}
.col-6 {
    float: left;
    display: flex;
}
.col-4 {
    width: 33.33333333%;
    height: 100%;
    float: left;
    display: flex;
}
.col-12-row {
    float: left;
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}
.col-4-row {
    float: none;
    display: flex;
    width: 33.33333333%;
    float: left;
    display: flex;
}
.col-lg-4 {
    float:left;
    display: flex;
    width: 33.33333333%;
    border: none;
    border-radius: 15px;
    padding:5px;
}

.center{
    vertical-align:central;
    text-align:center;
}

.button {
    background-color:#F0F0F0;
    padding:10px;
    border: hidden;
    border-radius: 15px;
}


.image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.white, .white a {
    color: #fff;
}
.card {
    background-color: #F0F0F0;
    border-radius: 10px;
    border: solid;
    border-color: #F0F0F0;
}

.btn {
    height:100%
}

.table-parent {
    background-color:white;
}
.table-parent:hover{
    background-color:lightblue !important; 
}

.sub-container {
    background-color: yellow;
    width:100px;
    height:100px;
}

@media (min-width:734px){
    .large-glyphicon{
        font-size:20px;
    }
}
@media (min-width:320px){
    .large-glyphicon{
        font-size:20px;
    }
}

.image-container {
    width: 100%;
    height: 200px; /* Ajusta la altura deseada */
    overflow: hidden;
    border-radius: 15px; /* Mantén el borde redondeado */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor de imágenes responsivo */
.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Proporción fija (4:3) */
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    z-index: 2;
}

/* Imagen dentro del contenedor */
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botón responsivo */
.button {
    border: none;
    cursor: pointer;
    display: block;
    z-index: 1;
}

.button-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Sidebar */
#sidebar {
    position: fixed; /* Fija la posición para evitar afectar el flujo del contenido */
    top: 0;
    left: -90%; /* Oculto inicialmente */
    height: 100%; /* Ocupa toda la altura del viewport */
    background-color: rgba(125, 125, 125,0.5); /* Fondo del sidebar */
    overflow-y: auto;
    width: 90%;
    transition: transform 0.3s ease; /* Movimiento suave */
    z-index: 1000; /* Asegúrate de que está sobre el contenido */
    padding: 10px;
}

    #sidebar.visible {
        transform: translateX(90%); /* Despliega el sidebar */
    }

#content {
    margin-left: 0; /* Asegura que el contenido no tiene desplazamiento inicial */
}

/* Loading screen*/
/* Estilo para el overlay */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté encima de otros elementos */
}

/* Spinner simple */
.loading-spinner {
    border: 8px solid #f3f3f3; /* Color de fondo del spinner */
    border-top: 8px solid #3498db; /* Color de la línea del spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; /* Animación de rotación */
}

/* Animación de rotación */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}