@using CastoresTest.Models.Tables
@{
    ViewData["Title"] = "Inicio";
}
<div class="title-card">
    Seleccionar Opcion
</div>
<div class="row">
    <div class="col-12">
        <div class="col-sm-6 col-md-6 col-lg-4" style="padding: 5px">
            <form action="/History/Index" method="get">
                <button type="submit" style="border-radius: 15px; border-width: 0px; width: 100%; padding:10px" class="">
                    <div class="col-12" style="text-align:center;font:#FFFFFF;">
                        Historial
                    </div>
                </button>
            </form>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4" style="padding: 5px">
            <form action="/AddProducts/Index" method="get">
                <button type="submit" style="border-radius: 15px; border-width: 0px; width: 100%; padding:10px" class="">
                <div class="col-12" style="text-align:center;font:#FFFFFF;">
                    Alta Productos
                </div>
                </button>
            </form>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4" style="padding: 5px">
            <form action="/RemoveProducts/Index" method="get">
            <button type="submit" style="border-radius: 15px; border-width: 0px; width: 100%; padding:10px" class="">
                <div class="col-12" style="text-align:center;font:#FFFFFF;">
                    Baja Productos
                </div>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    </br>
</div>