@{
    ViewData["Title"] = "Historial";
}
<button class="btn btn-primary" onclick="FilterEntradas()">Entradas</button>
<button class="btn btn-primary" onclick="FilterSalidas()">Salidas</button>
<script src="~/js/History.js"></script>
@Html.Partial("ListadoMovimientos")